/*GENERAL MODIFS*/
* {
	font-family: 'Titillium Web', sans-serif;
}
li {
	list-style: none;
}
a {
	color: black;
	text-decoration: none;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(
		to right,
		#1dcaff,
		#1dcaff 50%,
		black 50%);
	background-size: 200% 100%;
	background-position: 100%;
	transition: 0.2s ease-in-out;
}
a:hover {
	background-position: 0;
}
.active > a{
	font-weight: bold;
}
/*LEFT MENU MODIFS*/
header
{
	position: fixed;
	height: 100%;
	width: 30%;
	border-right: 4px solid black;
	font-size: 25px;
	overflow: auto;
}
header .title {
	color: black;
	position: fixed;
	width: 30%;
	text-align: center;
}
header .title h1 {
	padding: 0;
	margin: 0;
}
header > ul {
	margin-top: 120px;
}
.subDir {
	display: none;
}
.displayButton {
	padding: 18px;
	background-size: cover;
	border: none;
	background-color: rgba(0, 0, 0, 0);
}
.opennedDir > .displayButton {
	background-image: url("../icons/icons8-dossier-ouvert-50.png");
}
.closedDir > .displayButton {
	background-image: url("../icons/icons8-dossier-50.png");
}
.opennedDir > ul {
	display: block;
}
.closedDir > ul {
	display: none;
}
/*MAIN MENU*/
.mainMenu {
	position: absolute;
	top: 20%;
	right: 5%;
	width: 60%;
	min-height: 100%;
	font-size: 1.6vw;
}
.sortBar {
	display: flex;
	justify-content: space-between;
	color: gray;
}
.linksMainMenu a {
	display: flex;
	justify-content: space-between;
	box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 5px;
	margin: 15px 0;
}
.linksMainMenu a:hover {
	border-color: transparent;
	box-shadow: 3px 3px 8px 5px rgba(0, 0, 0, 0.2);
	transform: translate(-1%, -7%);
}
.linksMainMenu a > span, .sortBar > span {
	width: 50%;
}
.linksMainMenu a span:nth-child(1) {
	display: flex;
	justify-content: flex-start;
}
.linksMainMenu a span:nth-child(2) {
	display: flex;
	justify-content: space-between;
}
.fileIcon.dir{
	font-size: 32px !important;
	font-weight: bold;
	margin-right: 15px;
}
.fileIcon::before {
	font-size: 32px !important;
	margin-right: 15px;
}
.sortBar span {
	display: flex;
	justify-content: space-between;
}
.sortBar p {
	cursor: pointer;
}
/*BREADCRUMB*/
.nav {
	z-index: 2;
	position: fixed;
	width: 65%;
	display: flex;
	align-items: center;
	height: 10%;
	right: 0;
	top: 0;
	overflow: auto;
	overflow-y: hidden;

}
.breadcrumb {
	display: flex;
	align-items: center;
	height: 10%;
	font-size: 1.5vw;
	padding: 15px;
	background-color: black;
	border-radius: 5px;
}
.breadcrumb span {
	padding: 7px;
	font-size: 30px;
	font-weight: bold;
	color: white;
}
.breadcrumb a {
	padding: 10px;
	border: 2px solid black;
	border-radius: 4px;
	-webkit-background-clip: padding-box;
	-webkit-text-fill-color: black;
	background-image: none;
	background-color: white;

	box-shadow: 0 0 0 2px white inset;
}
.breadcrumb a:hover {
	-webkit-text-fill-color: #1dcaff;
	transform: translate(0, 10%);
}
/*MOVE BTNS*/
.moveButtons {
	position: absolute;
	width: 60%;
	height: 15%;
	right: 5%;
	top: 9%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.before, .after {
	margin: 10px 0;
	border: none;
	height: 80%;
	font-size: 2.5vw;
	font-weight: bold;
	background-color: transparent;
	width: 20%;
	outline-style: none;
}
.arrow {
	position: absolute;
	opacity: 0;
	font-size: 4vw;
	bottom: 14%;
	-webkit-transition: all 1s;
	z-index: -1;
}
.before .titleBtn {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(
			to right,
			black,
			black 50%,
			#1dcaff 50%);
	background-size: 200% 100%;
	background-position: 200%;
	-webkit-transition: all 1s;
	cursor: pointer;
}
.before .arrow {
	right: 20%;
}
.before .titleBtn:hover {
	-webkit-transition: all 1s;
	-webkit-transition-timing-function: cubic-bezier(.6,-1.5,.5, -.5);
	background-position: 0;
}
.before .titleBtn:hover + .arrow {
	right: 85%;
	opacity: 1;
}
.after .titleBtn {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(
			to right,
			black,
			black 50%,
			#1dcaff 50%);
	background-size: 200% 100%;
	background-position: 200%;
	-webkit-transition: all 1s;
	cursor: pointer;
}
.after .arrow {
	left: 20%;
}
.after .titleBtn:hover {
	-webkit-transition: all 1s;
	-webkit-transition-timing-function: cubic-bezier(.6,-1.5,.5, -.5);
	background-position: 0;
}
.after .titleBtn:hover + .arrow {
	opacity: 1;
	left: 85%;
}
.researchSpan {
	display: flex;
}
.searchInput {
	border: none;
	box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	outline-style: none;
	margin-left: 10px;
	width: 20vw;
	height: 3vw;
	position: absolute;
	top: 50%;
	left: 150%;
	transform: translate(-50%, -50%);
	font-size: 1.5vw;
}
#searchBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 100%;
	width: 3vw;
	height: 3vw;
	outline: none;
	font-size: 1.5vw;
	cursor: pointer;
	background: none;
	box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2), inset 0 0 0 3vw white;
}
.cross {
	cursor: pointer;
	position: absolute;
	display: flex;
	outline: none;
	border: none;
	border-radius: 100%;
	align-items: center;
	justify-content: center;
	box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2), inset 0 0 0 3vw white;
	top: 50%;
	left: 27%;
	width: 3vw;
	height: 3vw;
	font-size: 1.5vw;
	animation: bounceApparition 0.5s;
	transform: translate(-50%, -50%);
}
#searchBtn:focus {
	animation: animateSearchBtn 0.4s;
}
@keyframes animateSearchBtn {
	0% {
		box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2), inset 0 0 0 3vw white;
		font-size: 1vw;
		width: 5vw;
		height: 5vw;
	}
	25% {
		box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1vw #1dcaff;
	}
	50% {
		font-size: 4vw;
		width: 4vw;
		height: 4vw;
		box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.2), inset 0 0 0 1vw #1dcaff;
	}
	100% {
		box-shadow: initial;
	}
}
@keyframes bounceApparition {
	0% {
		width: 0vw;
		height: 0vw;
		font-size: 0vw;
	}
	25% {
		width: 5vw;
		height: 3vw;
		font-size: 1.5vw;
	}
	50% {
		width: 3vw;
		height: 4vw;
		font-size: 1.5vw;
	}
	100% {
		width: 3vw;
		height: 3vw;
		font-size: 1.5vw;
	}
}
@keyframes inputApparition {
	0% {
		left: 150%;
	}
	100% {
		left: 52%;
	}
}
/*MODAL*/
::-webkit-scrollbar {
    width: 10px;
	height: 0;
}
.modal {
	display: none;
	position: fixed;
	overflow-y: scroll;
	max-width: 70%;
	max-height: 80%;
	background-color: white;
	z-index: 20;
	top: 100%;
	left: 50%;
	transform: translate(-50%, 0);
	border-radius: 10px;
	box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.3);
}
.shadow {
	position: fixed;
	background-color: rgba(0,0,0,0.5);
	top: 100%;
	width: 100%;
	height: 100%;
	z-index: 19;
}